body {
    background-color: #40434e;
     margin:0;
}

/* CONTENEDOR PRINCIPAL */
.container{
    display:flex;
    height:100vh;
}

/* COLUMNA IZQUIERDA */
.main{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* IMAGEN DRAGON */
.dragon{
    width:600px;
    margin-bottom:40px;
}

/* BOTON NOMBRE */
.name{
    background:#49c7be;
    border:none;
    padding:25px 80px;
    border-radius:60px;
    font-size:40px;
    box-shadow:0px 6px 0px rgba(0,0,0,0.2);
}

/* SIDEBAR DERECHA */
.sidebar{
    width:220px;
    background:#2f3442;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:40px;
}

/* SOBRES */
.project{
    width:150px;
    cursor:pointer;
}